<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-pagecontent" style="padding-bottom: 20px;">
    <div class="container">
      <div class="row">
        <!--************************************
            Inner Banner Start
        *************************************-->
        <div class="col-sm-12">
          <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
              <h1>
                <i class="fa fa-align-justify"></i> Edition de la méta donnée "{{ getAddMetaForm.name.value }}"</h1>
            </div>
            <ol class="tg-breadcrumb">
              <li>
                  <i class="fa fa-home"></i>
              </li>
              <li class="tg-active">méta donnée</li>
            </ol>
          </div>
        </div>
        <!--************************************
            Inner Banner End
        *************************************-->
        <div class="col-lg-7 col-sm-7 col-xs-12">
          <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <aside id="tg-siderbar" class="tg-siderbar">
              <div class="tg-widget tg-widgetprojectdescription">
                <div class="tg-widgettitle">
                  <div class="col-lg-8 col-sm-8 col-xs-12">
                    <h3>Informations</h3>
                  </div>
                </div>
                <div class="tg-widgetcontent">
                  <form [formGroup]="addMetaForm" (submit)="editMetadata()" method="POST">
                    <div class="form-group">
                      <label for="label">Nom de la méta donnée
                        <span class="invalid-feedback">*</span>
                      </label>
                      <input type="text" name="label" (change)="getAddMetaForm.label.setValue($event.target.value)" required formControlName="label" class="form-control"
                        id="label" placeholder="label">
                      <div *ngIf="isSubmitted && getAddMetaForm.label.errors" class="invalid-feedback">
                        <div *ngIf="getAddMetaForm.label.errors['required']">Champs requis</div>
                        <div *ngIf="getAddMetaForm.label.errors['minlength']">Mininum 3 caractères</div>
                        <div *ngIf="getAddMetaForm.label.errors['maxlength']">Maximum 20 caractères</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type">Type
                        <span class="invalid-feedback">*</span>
                      </label>
                      <select name="type" id="type" formControlName="type" class="form-control">
                        <option value="text" selected>Texte</option>
                        <option value="date">Date</option>
                        <option value="email">Email</option>
                        <option value="url">Url</option>
                        <option value="number">Nombre</option>
                        <option value="time">Time</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg pull-right" [disabled]="loading">
                        <img *ngIf="loading" src="assets/images/loader/MnyxU.gif" width="30px;"> Valider
                        <i class="fa fa-edit"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
