<!-- onboarding.component.html -->
<div *ngIf="currentScreen === 1">
  <main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-pagecontent">
      <div class="container">
        <div class="row">
          <div class="tg-404">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
              style="margin-top: 0px;">
              <div class="tg-404content">
                <div class="tg-borderstyle">
                  <p>BIENVENUE DANS ARCHIVE MANAGER</p>

                  <button class="btn btn-primary" (click)="nextScreen()">SUIVANT</button>

                  <h3>MEILLEUR OUTIL SUR TABLET ET SMARPHONE POUR GERER VOUS ARCHIVES!</h3>
                  <p>commencer a explorer</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>

<div *ngIf="currentScreen === 2">
  <!-- Content for the second screen -->


  <main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-pagecontent">
      <div class="container">
        <div class="row">
          <div class="tg-404">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
              style="margin-top: 0px;">
              <div class="tg-404content">
                <div class="tg-borderstyle">
                  <p>Let's Get Started!</p>

                  <button class="btn btn-primary" (click)="completeOnboarding()">Get Started</button>

                  <h3>  ARCHIVE MANAGER , L'AVENIRE DE VOS ARCHIVES</h3>
                  <p></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
