<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-pagecontent" style="padding-bottom: 20px;">
    <div class="container">
      <div class="row">
        <!--************************************
            Inner Banner Start
        *************************************-->
        <div class="col-sm-12">
          <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
              <h1>
                <i class="fa fa-shield"></i> Création d'un rôle</h1>
            </div>
            <ol class="tg-breadcrumb">
              <li>
                  <i class="fa fa-home"></i>
              </li>
              <li class="tg-active">rôle</li>
            </ol>
          </div>
        </div>
        <!--************************************
            Inner Banner End
        *************************************-->
        <div class="col-lg-7 col-sm-7 col-xs-12">
          <form (submit)="onSubmit()" method="POST" [formGroup]="addRoleForm">
          <div  class="col-lg-12 col-sm-12 col-xs-12">
          <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <aside id="tg-siderbar" class="tg-siderbar">
              <div class="tg-widget tg-widgetprojectdescription">
                <div class="tg-widgettitle">
                  <div class="col-lg-8 col-sm-8 col-xs-12">
                    <h3>Informations
                    </h3>
                  </div>
                </div>
                <div class="tg-widgetcontent">
                    <div class="form-group">
                      <label for="name">Nom du rôle<span class="invalid-feedback">*</span></label>
                      <input type="text" name="name" required class="form-control" formControlName="name" id="name" placeholder="Name">
                      <div *ngIf="isSubmitted && getAddRoleForm.name.errors" class="invalid-feedback">
                        <div *ngIf="getAddRoleForm.name.errors['required']">Champs requis</div>
                        <div *ngIf="getAddRoleForm.name.errors['minlength']">Mininum 3 caractères</div>
                        <div *ngIf="getAddRoleForm.name.errors['maxlength']">Maximum 20 caractères</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description">Description du rôle<span class="invalid-feedback">*</span></label>
                      <textarea class="form-control" required name="description" formControlName="description" id="description" rows="3"></textarea>
                      <div *ngIf="isSubmitted && getAddRoleForm.description.errors" class="invalid-feedback">
                        <div *ngIf="getAddRoleForm.description.errors['required']">Champs requis</div>
                        <div *ngIf="getAddRoleForm.description.errors['minlength']">Mininum 10 caractères</div>
                        <div *ngIf="getAddRoleForm.description.errors['maxlength']">Maximum 20 caractères</div>
                      </div>
                    </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
          <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <aside id="tg-siderbar" class="tg-siderbar">
              <div class="tg-widget tg-widgetprojectdescription">
                <div class="tg-widgettitle">
                  <div class="col-lg-8 col-sm-8 col-xs-12">
                    <h3>Membres
                    </h3>
                  </div>
                </div>
                <div class="tg-widgetcontent">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="name">Membres
                          <span class="invalid-feedback">*</span>
                        </label>
                        <ng-multiselect-dropdown [placeholder]="'Choisir les membres'" [data]="dropdownList" [(ngModel)]="selectedItemsUser" [settings]="dropdownSettings"
                          (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg pull-right" [disabled]="loading">
                        <img *ngIf="loading" src="assets/images/loader/MnyxU.gif" width="30px;"> &nbsp;&nbsp;Créer
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
        </form>
        </div>
        <div class="col-lg-5 col-sm-5 col-xs-12">
          <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px;">
            <aside id="tg-siderbar" class="tg-siderbar">
              <div class="tg-widget tg-widgetprojectdescription">
                <div class="tg-widgettitle">
                  <div class="col-lg-8 col-sm-8 col-xs-12">
                    <h3>Privilèges</h3>
                  </div>
                </div>
                <div class="tg-widgetcontent memberslist">
                  <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div *ngIf="privileges.length == 0" class="text-center">
                      <img src="assets/images/loader/MnyxU.gif" width="30px;">
                    </div>
                    <div *ngFor="let privilege of privileges" class="well well-sm">
                      {{ privilege.name }}
                      <ui-switch [(ngModel)]="checkboxs[privilege.id]" (click)="setChecked(privilege.id)" [checked]="false" size="small" color="#337ab7" defaultBgColor="red" class="pull-right"></ui-switch>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- end of modal -->
