<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-pagecontent" style="padding-bottom: 20px">
    <div class="container">
      <div class="row">
        <!--************************************
            Inner Banner Start
        *************************************-->
        <div class="col-sm-12">
          <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
              <h1><i class="fa fa-user"></i> Nouvel utilisateur</h1>
            </div>
            <ol class="tg-breadcrumb">
              <li>
                <i class="fa fa-home"></i>
              </li>
              <li class="tg-active">utilisateur</li>
            </ol>
          </div>
        </div>
        <!--************************************
            Inner Banner End
        *************************************-->

        <form (submit)="onSubmit()" method="POST" [formGroup]="addUserForm">
          <div class="col-lg-7 col-sm-7 col-xs-12">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px">
              <aside id="tg-siderbar" class="tg-siderbar">
                <div class="tg-widget tg-widgetprojectdescription">
                  <div class="tg-widgettitle">
                    <div class="col-lg-8 col-sm-8 col-xs-12">
                      <h3>Informations</h3>
                    </div>
                  </div>
                  <div class="tg-widgetcontent">
                    <div class="form-group">
                      <label for="lastName"
                        >Noms<span class="invalid-feedback">*</span></label
                      >
                      <input
                        type="text"
                        name="lastName"
                        required
                        class="form-control"
                        formControlName="lastName"
                        id="lastName"
                      />
                      <div
                        *ngIf="isSubmitted && getAddUserForm['lastName'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="getAddUserForm['lastName'].errors['required']">
                          Champs requis
                        </div>
                        <div *ngIf="getAddUserForm['lastName'].errors['minlength']">
                          Mininum 2 caractères
                        </div>
                        <div *ngIf="getAddUserForm['lastName'].errors['maxlength']">
                          Maximum 50 caractères
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="firstName"
                        >Prenoms <span class="invalid-feedback">*</span></label
                      >
                      <input
                        type="text"
                        name="firstName"
                        required
                        class="form-control"
                        formControlName="firstName"
                        id="firstName"
                      />
                      <div
                        *ngIf="isSubmitted && getAddUserForm['firstName'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="getAddUserForm['firstName'].errors['required']">
                          Champs requis
                        </div>
                        <div *ngIf="getAddUserForm['firstName'].errors['minlength']">
                          Mininum 2 caractères
                        </div>
                        <div *ngIf="getAddUserForm['firstName'].errors['maxlength']">
                          Maximum 50 caractères
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email"
                        >Adresse email<span class="invalid-feedback"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        name="email"
                        required
                        class="form-control"
                        formControlName="email"
                        id="email"
                      />
                      <div
                        *ngIf="isSubmitted && getAddUserForm['email'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="getAddUserForm['email'].errors['required']">
                          Champs requis
                        </div>
                        <div *ngIf="getAddUserForm['email'].errors['email']">
                          Format d'email invalide
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="telephone"
                        >Téléphone<span class="invalid-feedback">*</span></label
                      >
                      <input
                        type="text"
                        name="telephone"
                        required
                        class="form-control"
                        formControlName="telephone"
                        id="telephone"
                      />
                      <div
                        *ngIf="isSubmitted && getAddUserForm['telephone'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="getAddUserForm['telephone'].errors['required']">
                          Champs requis
                        </div>
                        <div *ngIf="getAddUserForm['telephone'].errors['pattern']">
                          Format invalide
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="grade"
                        >Grade<span class="invalid-feedback">*</span></label
                      >
                      <select
                        name="grade"
                        id="grade"
                        formControlName="grade"
                        class="form-control"
                      >
                        <option value="Pr." selected>Professeur</option>
                        <option value="Dr.">Docteur</option>
                        <option value="Mr.">Monsieur</option>
                        <option value="Me.">Madame</option>
                        <option value="Et.">Etudiant</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg pull-right"
                        [disabled]="loading"
                      >
                        <img
                          *ngIf="loading"
                          src="assets/images/loader/MnyxU.gif"
                          width="30px;"
                        />
                        &nbsp;&nbsp;Créer
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
          <div class="col-lg-5 col-sm-5 col-xs-12">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 0px">
              <aside id="tg-siderbar" class="tg-siderbar">
                <div class="tg-widget tg-widgetprojectdescription">
                  <div class="tg-widgettitle">
                    <div class="col-lg-8 col-sm-8 col-xs-12">
                      <h3>Connexion</h3>
                    </div>
                  </div>
                  <div class="tg-widgetcontent memberslist">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="login"
                          >Login<span class="invalid-feedback">*</span></label
                        >
                        <input
                          type="text"
                          name="login"
                          required
                          class="form-control"
                          formControlName="login"
                          id="login"
                        />
                        <div
                          *ngIf="isSubmitted && getAddUserForm['login'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="getAddUserForm['login'].errors['required']">
                            Champs requis
                          </div>
                          <div *ngIf="getAddUserForm['login'].errors['minlength']">
                            Mininum 3 caractères
                          </div>
                          <div *ngIf="getAddUserForm['login'].errors['maxlength']">
                            Maximum 20 caractères
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name"
                          >Mot de passe<span class="invalid-feedback"
                            >*</span
                          ></label
                        >
                        <input
                          type="text"
                          name="password"
                          formControlName="password"
                          required
                          class="form-control"
                          id="name"
                        />
                        <div
                          *ngIf="isSubmitted && getAddUserForm['password'].errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="getAddUserForm['password'].errors['required']">
                            Champs requis
                          </div>
                          <div *ngIf="getAddUserForm['password'].errors['minlength']">
                            Mininum 3 caractères
                          </div>
                          <div *ngIf="getAddUserForm['password'].errors['maxlength']">
                            Maximum 20 caractères
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div
              class="col-lg-12 col-sm-12 col-xs-12"
              style="padding: 0px; margin-top: 20px"
            >
              <aside id="tg-siderbar" class="tg-siderbar">
                <div class="tg-widget tg-widgetprojectdescription">
                  <div class="tg-widgettitle">
                    <div class="col-lg-8 col-sm-8 col-xs-12">
                      <h3>Rôles & Groupes</h3>
                    </div>
                  </div>
                  <div class="tg-widgetcontent memberslist">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <label for="name"
                          >Rôles<span class="invalid-feedback">*</span></label
                        >
                        <ng-multiselect-dropdown
                          [placeholder]="'Choisir les rôles'"
                          [data]="dropdownListRole"
                          [(ngModel)]="selectedItemsRole"
                          [settings]="dropdownSettingsRole"
                          (onSelect)="onItemSelectR($event)"
                          (onDeSelect)="onItemDeSelectR($event)"
                          (onDeSelectAll)="onSelectAllR($event)"
                          (onSelectAll)="onSelectAllR($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                      <div class="form-group">
                        <label for="name"
                          >Groupes<span class="invalid-feedback">*</span></label
                        >
                        <ng-multiselect-dropdown
                          [placeholder]="'Choisir les groupes'"
                          [data]="dropdownListAmpliation"
                          [(ngModel)]="selectedItemsAmpliation"
                          [settings]="dropdownSettingsAmpliation"
                          (onSelect)="onItemSelectA($event)"
                          (onDeSelect)="onItemDeSelectA($event)"
                          (onSelectAll)="onSelectAllA($event)"
                          (onDeSelectAll)="onSelectAllA($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- end of modal -->
