
form {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}


h3
{
  color: white;
}

.tg-pagecontent{
  height: 100%;
  background-image: url(/assets/images/1.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

button:disabled:hover{
  animation: none;
  color: white;
  background-color: white;
  animation-duration: 0ms;
}

.tg-widgetcontent
{
  padding: 0px;
}

.invalid-feedback{
  color: red;
}

fieldset a {
	cursor: pointer;
}