
.tg-parallaximg
{
    max-width: 100px;
}
.tg-innerbannercontent
{
    margin-bottom: 25px;
}
.tg-widgetcontent
{
  padding: 0px;
}
.invalid-feedback{
  color: red;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}