

<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-pagecontent">
     <div class="container">
       <div class="row">
         <div class="tg-404">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="margin-top: 0px;">
             <div class="tg-404content">
               <div class="tg-borderstyle">
                <p>test works!</p>
                <button (click)="addAction()">Add Action</button>
                <button (click)="flushActions()">Flush Actions</button>

                 <h3>Oops, La page demandée est introuvable !</h3>
                 <p>Nous sommes vraiment désolé mais la page que vous avez demandé est introuvable :(</p>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   </main>
