li a:hover {
  text-decoration: none;
}

.navbar-toggle
{
  background-color: #003160;
}
/*
li:has(a.active){
	text-decoration-line: underline;
}*/


.logo-title:hover {
cursor: pointer;
color: #ffffff
}