<main id="tg-main" class="tg-main tg-haslayout">
  <div class="tg-pagecontent" style="padding-bottom: 20px;">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <app-left-side></app-left-side>
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-12 pull-right">
          <div id="tg-content" class="tg-content">
            <div class="tg-sectionhead">
              <div class="tg-sectiontitle">
                <h1>Liste des catégories</h1>
              </div>
              <div class="tg-description">

                <div class="tg-teammembers" style="margin-bottom: 10px;">

                  <div class="col-md-3 col-sm-offset-0 col-sm-3 col-xs-12">
                    <div class="tg-member" title="{{ allCategory.description }}" (click)="goToCategory(allCategory)">
                      <figure style="background-color: rgba(255, 255, 255, 0); border: 0px;">
                        <i class="fa fa-folder-o" style="font-size: 8em; color:#daa236"></i>
                      </figure>
                      <div class="tg-memberinfo">
                        <div class="tg-membername">
                          <h6>
                            <a>
                              {{ allCategory.name }}
                            </a>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-offset-0 col-sm-3 col-xs-12" *ngFor="let category of categories">
                    <div class="tg-member" title="{{ category.description }}" (click)="goToCategory(category)">
                      <figure style="background-color: rgba(255, 255, 255, 0); border: 0px;">
                        <i class="fa fa-folder" style="font-size: 8em; color:#daa236"></i>
                      </figure>
                      <div class="tg-memberinfo">
                        <div class="tg-membername">
                          <h6>
                            <a>
                              {{ category.name }}
                            </a>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>